<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDGE_Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDGE_Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EDGE_Scheduler.Properties.Settings>
            <setting name="ExecutableDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShiftLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeFromLoop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Team" serializeAs="String">
                <value>0</value>
            </setting>
        </EDGE_Scheduler.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EDGE_Scheduler.Properties.Settings>
            <setting name="SpreadsheetID" serializeAs="String">
                <value>1t1JjS_uP1upBStXNskGVdYl8naByrNvOeybFVBD1ids</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Blake's EDGE Scheduler</value>
            </setting>
        </EDGE_Scheduler.Properties.Settings>
    </applicationSettings>
</configuration>